.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px 15px;
  height: 43px; }

.wrapper > ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 42px;
  padding: 0 1rem;
  min-width: 500%;
  transition: 1s ease-in-out; }

.wrapper > ul > li {
  position: relative;
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab; }

.scroller {
  cursor: pointer;
  display: none;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2rem;
  height: 42px;
  padding: 0 0.5rem;
  background: #eee; }

.scroller-next {
  float: right; }

.scroller-prev {
  float: left; }

/**
* Tabs
*/
.nav-tabs li a .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 9px; }

.tab-pane {
  padding: 15px; }

.tab-pane .badge {
  margin-right: 3px; }

.tab-pane .tab-content,
.tab-pane .tablist {
  padding: 0;
  margin: 0; }

.tab-pane .nav-pills {
  margin-top: 1rem;
  padding: 0; }

.tab-pane .nav-pills li {
  margin-top: 0; }

.tab-pane .nav-pills li a {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px; }

.tab-pane .nav-pills li a .badge {
  font-size: 9px;
  margin: auto 0;
  height: 18px;
  line-height: normal; }

.tab-pane .sub-nav li a .badge {
  margin-top: -4px;
  margin-right: -8px; }

/**
* Alerts
*/
.tab-pane li {
  margin-top: 15px; }

.tab-pane li div {
  font-size: 0.85em; }

.loader {
  position: absolute;
  left: 50%;
  top: 20%; }
